@media screen and (max-width: 600px) {
     .news_edit {
      margin-right: -20%;
          font-size: 14px;
          height: 20px;
          margin-top: -20px;

     }
          .news_details div small:last-child {
               display: flex;
               flex-direction: column;
               justify-content: end;
               width: 180px;
               padding: 10px !important;
          }
}




